.main {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: 1fr;
  background-color: #262626;
  padding: 25px 20px 0 20px;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.favouriteSection {
  &__label {
    display: block;
    color: #91979b;
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  &__input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 165px;
  }
  &__button {
    margin-left: 8px;
    padding: 10px;
    text-align: center;
    background-color: #9b2c7f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
  }
  &__paragraph {
    padding-top: 10px;
    font-family: "Montserrat", sans-serif;
    color: #91979b;
  }
  &__subtitle {
    padding: 10px 0;
    font-family: "Anton", sans-serif;
    color: #91979b;
  }
  &__list {
    font-family: "Montserrat", sans-serif;
  }
  &__listItem {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 10px;
    &--image {
      width: 80px;
      border-radius: 14px;
    }
    &--title {
      padding: 0 6px;
      font-size: 10px;
      color: white;
    }
    &--button {
      font-size: 11px;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      background-color: black;
      color: white;
      border: none;
    }
  }
  &__buttonReset {
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    background-color: #9b2c7f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
  }
}

.searchSection {
  @media screen and (max-width: 768px) {
    padding-top: 30px;
  }
  &__list {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__listItem {
    border: 2px solid #00a3da;
    border-radius: 14px;
    color: #00a3da;
    width: 170px;
    text-align: center;
    margin: 0 10px 10px 0;
    &--image {
      padding: 10px;
      width: 160px;
      border-radius: 14px;
    }
    &--title {
      padding-bottom: 15px;
    }
    &:hover {
      border: 2px solid #9b2c7f;
      color: #9b2c7f;
    }
    &--favourite {
      background-color: #9b2c7f;
      color: white;
      width: 170px;
      text-align: center;
      margin: 0 10px 10px 0;
      border-radius: 14px;
    }
  }
}
